doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Super Awesome Site

    // Favicons

    // Stylesheets
    link(rel="stylesheet", href="/styles.css")

  body
    block header
      include _header

    main(role="main")
      block content

    script(src="/application.js", async)
