extends _layout

block content
  .l-container
    p Adipisicing accusantium quibusdam officiis quam quam porro officia ex cumque facere maxime cumque vitae dicta quis animi nobis explicabo, neque. Voluptate quam cupiditate optio in explicabo dolores distinctio. Culpa assumenda!
